@use '/src/scss/tools/mixins' as *;
@use '/src/scss/settings/colors' as *;
@use '/src/scss/settings/spacing' as *;
@use '/src/scss/settings/typography' as *;


.card-slider {
    position: relative;
    display: flex;
    flex-direction: row;
    color: $white;
    overflow: hidden;

    .track {
        @include border-radius($desktop-radius);
        scrollbar-width: none;
        &::-webkit-scrollbar {
        display: none;
        }

        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        width: max-content;
        padding: 0;
        margin-right: calc(8px * -1);

        .card {
            flex: 0 0 20%;
            min-width: 300px;
            scroll-snap-align: start;
            scroll-snap-stop: always;
            margin-right: 8px;
        }
    }
}
