$accent: #1F8B48;
$accent-hover: #1c7f42;
$black: #131312;
$white: #FFFFFF;
$bg: #F6F6F6;

$primary-gradient: linear-gradient(180deg, hsla(143, 64%, 33%, 0) 0%, hsla(143, 64%, 33%, 100) 100%);
